* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    padding: 8px 200px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.first-section {
    background-color: #1f2937;
    padding: 20px 200px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.first-section-items {
    flex: 1;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    padding: 5px 10px;
    color: #f9faf8;
}

.placeholder-image {
    flex: 1;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-section {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-title {
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-items {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

img {
    border: 1px solid blue;
    padding: 80px;
}







