* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    padding: 8px 200px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.first-section {
    background-color: #1f2937;
    padding: 20px 200px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

.first-section-items p {
    font-size: 18px;
}

.first-section-items {
    flex: 1;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    padding: 5px 10px;
    color: #f9faf8;
    border-radius: 5px;
}

.placeholder-image {
    flex: 1;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-section {
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-title {
    margin: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-items {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

img {
    border: 1px solid #3882f6;
    border-radius: 5px;
    border-width: 3px;
    padding: 80px;
}

.third-section {
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-color: #e5e7eb;
    justify-content: center;
}

.qoute {
    font-size: 36px;
    font-style: italic;
    align-self: center;
}

.thor {
    align-self: flex-end;
}

.fourth-section {
    color: #e5e7eb;
    border-style: hidden;
    border-radius: 5px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 40px;
    margin: 100px 200px;
}

.sign-up {
    border: 1px solid #f9faf8;
    padding: 10px 30px;
}

.footer {
    text-align: center;
    color: #e5e7eb;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}





